.impowerBox {color: #212121;}
.impowerBox .qrcode {width: 200px;}
.impowerBox .title {display: none;}
.status_icon {display：none}
.impowerBox .status {text-align: center;} 
.impowerBox .info {display: none;}
